# Реакт сборка и кэш
client/build/
client/.cache/
client/.parcel-cache/
client/.next/
client/out/
client/.docusaurus/
client/.vuepress/dist/
client/.fusebox/
client/.snowpack/
client/.parcel-cache/
client/.cache/
client/.next/
client/.docusaurus/
client/.vuepress/dist/
client/.fusebox/
client/.snowpack/

# Логи и временные файлы
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Директории зависимостей
client/node_modules/
client/.pnp
client/.pnp.js

# Конфиденциальные данные
client/.env
client/.env.development.local
client/.env.test.local
client/.env.production.local

# Результаты тестов
client/coverage/
client.nyc_output/
